# caddy
caddy/.caddy/

# deconz
deconz/data

# dockermon
dockermon/config
dockermon-oak/config

# homeassistant
homeassistant/android
homeassistant/*.pickle
homeassistant/deps/*
homeassistant/.uuid
homeassistant/*.log
homeassistant/*.db
homeassistant/*.sqlite
homeassistant/*.xml
homeassistant/.google.token
homeassistant/.HA_VERSION
homeassistant/known_devices.yaml
homeassistant/secrets.yaml
homeassistant/nest.conf
homeassistant/plex.conf
homeassistant/emulated_hue_ids.json
homeassistant/gas-meter.jpg
homeassistant/gas-meter-invert.jpg
homeassistant/gas-meter-optimised.jpg
homeassistant/automations/notify-coin-*
homeassistant/automations/notify-exchange-rate.yaml
homeassistant/home-assistant_v2.db-shm
homeassistant/home-assistant_v2.db-wal
homeassistant/.cloud/*
homeassistant/.storage
homeassistant/custom_components/**/__pycache__/
homeassistant/custom_components/**/.translations/
homeassistant/google_calendars.yaml
homeassistant/www/plex/

# miniflux
miniflux/miniflux

# mqtt
mqtt/config/
mqtt/data/
mqtt/log/

# mycroft
mycroft/data/identity/

# ncid
ncid/ncidd.whitelist
ncid/ncidd.log
ncid/cidcall.log

# node-red
node-red/node_modules/
node-red/settings.js
node-red/flows.json
node-red/flows_cred.json
node-red/.sessions.json
node-red/.config.json
node-red/.config.json.backup
node-red/.flows.json.backup
node-red/.flows_cred.json.backup

# pihole sycamore
pihole/*.domains
pihole/gravity.list
pihole/piholeIP
pihole/setupVars.conf
pihole/list.preEventHorizon
pihole/local.list
pihole/install.log
pihole/pihole-FTL.db
pihole/pihole-FTL.conf
pihole/black.list
pihole/GitHubVersions
pihole/localbranches
pihole/localversions
pihole/secrets/*
pihole/setupVars.conf.update.bak
pihole/dhcp.leases
pihole/dns-servers.conf
pihole/logrotate

# pihole backup
pihole-backup/

# plex
plex/config/

# samba
samba/

# utilities
utilities/cron-music-sync.sh
utilities/tv-switch.sh

# wiki
wiki/data/users.csv
wiki/data/mywiki/*
