# general
*/.settings.env
*/data/

# broken / testing
watchtower/
vpn/

# fediverse
fediverse/.settings-ge.env
fediverse/.settings-se.env

# pihole
pihole/*

# utilities
utilities/*


# homeassistant
homeassistant/.shopping_list.json
homeassistant/android
homeassistant/*.pickle
homeassistant/deps/*
homeassistant/.uuid
homeassistant/*.log
homeassistant/*.db
homeassistant/*.sqlite
homeassistant/*.xml
homeassistant/.google.token
homeassistant/.HA_VERSION
homeassistant/known_devices.yaml
homeassistant/secrets.yaml
homeassistant/nest.conf
homeassistant/plex.conf
homeassistant/emulated_hue_ids.json
homeassistant/gas-meter.jpg
homeassistant/gas-meter-invert.jpg
homeassistant/gas-meter-optimised.jpg
homeassistant/automations/notify-coin-*
homeassistant/automations/notify-exchange-rate.yaml
homeassistant/home-assistant_v2.db-shm
homeassistant/home-assistant_v2.db-wal
homeassistant/.cloud/*
homeassistant/.storage
homeassistant/custom_components/**/__pycache__/
homeassistant/custom_components/**/.translations/
homeassistant/google_calendars.yaml
homeassistant/www/Plex_Recently_Added
homeassistant/ip_bans.yaml
homeassistant/home-assistant.log.1
homeassistant/home-assistant.log.fault
homeassistant/camera
