http://sycamore.lan {
	proxy / http://192.168.11.2:8123 {
		transparent
	}
	proxy /api/websocket http://192.168.11.2:8123 {
		websocket
		header_upstream Sec-WebSocket-Extensions {>Sec-WebSocket-Extensions}
		header_upstream Sec-WebSocket-Key {>Sec-WebSocket-Key}
		header_upstream Sec-WebSocket-Version {>Sec-WebSocket-Version}
	}
	errors stdout
}

http://pihole.sycamore.lan {
	proxy / 192.168.11.2:8053 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://pihole.willow.lan {
	proxy / 192.168.11.4:8053 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://sync.sycamore.lan {
	proxy / 192.168.11.2:8384 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://sync.willow.lan {
	proxy / 192.168.11.4:8384 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://miniflux.sycamore.lan {
	proxy / 192.168.11.2:8080 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://sycamore.lan:8811, http://192.168.11.2:8811 {
	root /srv/nest
	on startup php-fpm7
	fastcgi / 127.0.0.1:9000 php
}

http://plex.oak.lan {
	proxy / 192.168.11.5:32400 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}
