http://sycamore.lan {
	proxy / http://192.168.11.3:8123 {
		transparent
	}
	proxy /api/websocket http://192.168.11.3:8123 {
		websocket
		header_upstream Sec-WebSocket-Extensions {>Sec-WebSocket-Extensions}
		header_upstream Sec-WebSocket-Key {>Sec-WebSocket-Key}
		header_upstream Sec-WebSocket-Version {>Sec-WebSocket-Version}
	}
	errors stdout
}

http://pihole.saga.lan {
	proxy / 192.168.11.5:8053 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://miniflux.saga.lan {
	proxy / 192.168.11.5:8080 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://deconz.sycamore.lan {
	proxy / 192.168.11.3:8020 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://plex.saga.lan {
	proxy / 192.168.11.5:32400 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}
