http://saga.lan {
	proxy / http://192.168.11.5:8123 {
		transparent
	}
	proxy /api/websocket http://192.168.11.5:8123 {
		websocket
		header_upstream Sec-WebSocket-Extensions {>Sec-WebSocket-Extensions}
		header_upstream Sec-WebSocket-Key {>Sec-WebSocket-Key}
		header_upstream Sec-WebSocket-Version {>Sec-WebSocket-Version}
	}
	errors stdout
}

http://pihole.saga.lan {
	proxy / 192.168.11.5:8053 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://miniflux.saga.lan {
	proxy / 192.168.11.5:8080 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://deconz.saga.lan {
	proxy / 192.168.11.5:8020 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://plex.saga.lan {
	proxy / 192.168.11.5:32400 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://syncthing.saga.lan {
	proxy / 192.168.11.5:8384 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
}

http://plextv.saga.lan {
	proxy / 127.0.0.1:32500 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
	errors stdout
}

http://iplayer.saga.lan {
	proxy / 127.0.0.1:1935 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
	errors stdout
}

http://n8n.saga.lan {
	proxy / 192.168.11.5:5678 {
		transparent
	}
	header / {
		-X-Frame-Options
	}
	errors stdout
}
